  <!-- Navigation -->
<!--   <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
	  <a class="navbar-brand js-scroll-trigger" href="#page-top">
          {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
          {%- else -%}
            {{ site.title }}
          {%- endif -%}
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
		  {%- for link in site.data.navigation.nav -%}
		  <li class="nav-item">
		  {%- if link.url -%}
		    <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
		  {%- else if link.section -%}
		    <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
		  {%- else -%}
		    <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
		  {%- endif -%}
          </li>
		  {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!-- End Navigation -->
  
  <!-- Header -->
<!--   <header class="masthead">
    <div class="container">
      <div class="intro-text">
	  {%- if site.data.sitetext.header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext.header.title | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext.header.text | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.button -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a>
	  {%- endif -%}
      </div>
    </div>
  </header> -->
<!-- <img class="img-responsive" src="assets/img/piads_wp1.png" alt="Chania" width="1366" height="766">  -->
<!--   <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="assets/img/piads_wp1.png"></iframe>
  </div> -->
<img src="assets/img/piads_wp1.png" class="img-fluid" alt="A Tribute to Photon in a double-slit SSR">

<div class="container">
  <h3>Beyond the known face of an actor. <br> A small tribute celebrating his life which was much more than just being a star actor.</br>
SSR - A Photon in a double slit!</h3>
  <h4>Young's double slit experiment, particle-wave duality of Photon, and Sushant Singh Rajput.
  <br></br>
<br>One who embraces the realm of quantum mechanics, and the ever mystifying, mind boggling truth of dual nature of Photon, would find this short-tribute reflecting all which he essentially meant about his life.</br> 
<br></br>
Besides being a wonderful actor, he was in love with astronomy. A person who could talk for hours about astrophysics, quantum mechanics and cosmology with equal interest as about the world of cinema. A man who would jump with equal excitement for a new film project, as he would do on witnessing the statue of Nataraja on his visit to CERN - a hub of complex particle accelerators.
<br></br> 
Gazing stars with his telescope like a curious kid, an avid reader and a crazy lord shiva fanatic.
Sushant Singh Rajput - A true polymath
<br></br> 
A creative projection of photon's duality blends well with his exceptional life.</h4>
<br></br>
<h4><b>Photoninadoubleslit.com</b>
<br></br>
A platform set up to put together all the interesting elements created as a tribute in loving memories of our brightest Quasar - SSR.
 <br></br>
If you have anything to be shared please drop in a message on:
  <dl>
    <dd><a href="https://instagram.com/photoninadoubleslit">instagram.com/<b>photoninadoubleslit</b></a></dd>
    <dd><a href="mailto:photoninadoubleslit@gmail.com"><b>photoninadoubleslit</b>@gmail.com</a></dd>
    <dd>Selected ones will be showcased on our website.</dd>
  </dl>
<dl>
<dd>Take care of yourself & your loved ones.</dd>
<dd>Have a wonderful life!</dd>
</dl>
</h4>
</div>
  <!-- End Header -->
