<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.css">
  <script src="jquery.js"></script>
  <script src="bootstrap.js"></script>
</head>
<body>

<div class="container">

  <br>
  <h5>Beyond the known face of an actor. <br> A small tribute celebrating Sushant's life which was much more than being a star actor.<br>
SSR - A Photon in a double slit!</h5>
  <p>Young's double slit experiment, particle-wave duality of Photon, and Sushant Singh Rajput.
  
<br>One who embraces the realm of quantum mechanics, and the ever mystifying, mind boggling truth of dual nature of Photon, would find this short-tribute reflecting all which he essentially meant about his life. The closer we look, the more we discover. 
<br>
<br>
Besides being a wonderful actor, he was in love with astronomy. A person who could talk for hours about astrophysics, quantum mechanics and cosmology with same zeal as about the world of cinema. A man who would jump with equal excitement for a new film project, as he would do on witnessing the statue of Nataraja on his visit to CERN - a hub of complex particle accelerators.
<br> 
Gazing stars with his telescope like a curious kid, an avid reader and a crazy lord shiva fanatic.
Sushant Singh Rajput - A true polymath
<br> 
A creative projection of photon's duality blends well with his exceptional life.</p>

<p><a href="https://photoninadoubleslit.com"><b>photoninadoubleslit.com</b></a>
<br>
A platform set up to put together all the interesting elements created as a tribute in loving memories of our brightest Quasar - SSR.
 <br>
If you have anything to be shared please drop in a message on:
  </p><dl>
    <dd><a href="https://instagram.com/photoninadoubleslit">instagram.com/<b>photoninadoubleslit</b></a></dd>
    <dd><a href="mailto:photoninadoubleslit@gmail.com"><b>photoninadoubleslit</b>@gmail.com</a></dd>
    <dd>Selected ones will be showcased on our website.</dd>
  </dl>
<dl>
<dd>Take care of yourself &amp; your loved ones.</dd>
<dd>Have a wonderful life!</dd>
</dl>
<p></p>

</div>

</body>
</html>
